receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318

exporters:
  otlphttp/loki:
    endpoint: "http://loki:3100/otlp"

  otlp:
    endpoint: tempo:4317 
    tls:
      insecure: true
      
  prometheus:
    endpoint: 0.0.0.0:8889

processors:
  resource:
    attributes:
      - key: k8s.cluster.name
        value: local-go-app
        action: insert
      - key: otel.resource.deployment.environment
        value: dev-compose
        action: insert
  batch:
    send_batch_size: 1000
    timeout: 10s

service:
  pipelines:
    logs:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlphttp/loki]
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlp ]
    metrics:
      receivers: [otlp]
      processors: [batch]
      exporters: [prometheus]