services:

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/etc/prometheus/console_libraries'
      - '--web.console.templates=/etc/prometheus/consoles'
      - '--storage.tsdb.retention.time=200h'
      - '--web.enable-lifecycle'
      - '--enable-feature=native-histograms'
      - '--web.enable-remote-write-receiver'
    networks:
      - grafana_network

  tempo:
    image: grafana/tempo:latest
    command: ["-config.file=/etc/tempo.yaml"]
    volumes:
      - ./tempo/tempo.yml:/etc/tempo.yaml
      - ./tempo/data:/var/tempo
    ports:
      - "14268:14268" # jaeger ingest
      - "3200:3200" # tempo
      - "9095:9095" # tempo grpc
      #- "4317:4317" # otlp grpc
      #- "4318:4318" # otlp http
      - "9411:9411" # zipkin
    networks:
      - grafana_network

  loki:
    image: grafana/loki:latest
    container_name: loki
    ports:
      - "3100:3100"
    volumes:
      - ./loki/loki.yml:/etc/loki/loki.yml
      #- ./loki:/etc/loki
      #- loki_data:/loki
    command: -config.file=/etc/loki/loki.yml
    networks:
      - grafana_network

  grafana:
    image: grafana/grafana:12.0.2
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
      - GF_AUTH_DISABLE_LOGIN_FORM=true
      - GF_USERS_ALLOW_SIGN_UP=false
    volumes:
      - grafana_data:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning
    depends_on:
      - prometheus
      - tempo
      - loki
    networks:
      - grafana_network

  otel-collector:
    image: otel/opentelemetry-collector-contrib:latest
    container_name: otel-collector
    command: ["--config=/etc/otel-collector-config.yml"]
    volumes:
      - ./otel-collector/otel-collector-config.yml:/etc/otel-collector-config.yml
    ports:
      - "4317:4317"
      - "4318:4318"
      - "8889:8889" # Prometheus metrics endpoint for the collector itself
    depends_on:
      - loki
      - tempo
      - prometheus
    networks:
      - grafana_network

  alloy:
    image: grafana/alloy:latest
    container_name: alloy
    volumes:
      # Mount your Alloy config
      - ./alloy/config.alloy:/etc/alloy/config.alloy
      
      # Mount syslogs
      #- /var/log:/var/log:ro
      
      # Mount app logs
      - /mnt/c/Eliezer/log:/mnt/c/Eliezer/log:ro

      # Mount docker logs
      - /var/run/docker.sock:/var/run/docker.sock:ro
    ports:
      - "12345:12345"
    command:
      - run
      - /etc/alloy/config.alloy
    environment:
      - HOSTNAME=log-collector-localhost-01
    depends_on:
      - loki
    networks:
      - grafana_network

volumes:
  grafana_data:
    driver: local
  prometheus_data:
    driver: local
  loki_data:
    driver: local

networks:
  grafana_network:
    driver: bridge
